<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  <p>Here are our upcoming service projects:</p>
  <ul>
    <% projects.forEach(project => { %>
      <li>
        <strong><%= project.date.toDateString() %></strong>: 
        <%= project.title %> 
        (<%= project.organization_name %>)
        <br>
        <em><%= project.location %></em>
        <p><%= project.description %></p>
      </li>
    <% }); %>
  </ul>
</main>

<%- include('partials/footer') %>
